@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}


/* utilites classes  */

.container {
    max-width: 1100px;
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}

.text-primary {
    color: #93cb52;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: #93cb52;
    color: #fff;
}

.text-center {
    text-align: center;
}

.l-headings {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-headings {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.btn {
    display: inline-block;
    color: #ffff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: #7ab436;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}


/* navbar */

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul a {
    color: #fff;
    padding: 0.75rem;
    width: 0 0.25rem;
}

#navbar ul a:hover {
    background-color: #93cb52;
    border-radius: 5px;
}


/* showcase */

#showcase {
    background: #333 url(../showcase.jpg)no-repeat center center/cover;
    color: #fff;
    height: 100vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* overlay */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


/* section:what we do */

#what .items {
    display: flex;
    padding: 1rem;
}

#what .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background: #93cb52;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}


/* section: who we are */

#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url(../people.jpg) no-repeat center center/cover;
}


/* section: clients */

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}


/* section: contact */

#contact {
    display: flex;
}

#contact .contact-form,
#contact .map {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}